<template name="home">
  {{> pageHeader img='/home-bg.jpg' title='Welcome' subHeading='This is my homepage'}}

    <div class="content-section -first">
        <div class="container">
            <div class="row">
                  <div class="col-lg-5 col-sm-6">
                      <h2 class="section-heading">This is a section heading</h2>
                      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem ipsum nulla molestias nisi modi ea minima similique dicta sapiente aspernatur.</p>
                  </div>

                  <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                      <img src="/home/section-1.jpg" alt="" class="img-responsive">
                  </div>
            </div>
        </div>
    </div>


    <div class="content-section">
        <div class="container">
            <div class="row">
                  <div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
                      <h2 class="section-heading">This is another section</h2>
                      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius pariatur expedita placeat distinctio at quas enim omnis, autem neque eos.</p>
                  </div>

                  <div class="col-lg-5 col-sm-pull-6 col-sm-6">
                      <img src="/home/section-2.jpg" alt="" class="img-responsive">
                  </div>
            </div>
        </div>
    </div>

    <div class="content-section -last">
        <div class="container">
            <div class="row">
                  <div class="col-lg-5 col-sm-6">
                      <h2 class="section-heading">One more section</h2>
                      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam maiores nostrum at suscipit esse rem nobis reprehenderit repellat deleniti corrupti.</p>
                  </div>

                  <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                      <img src="/home/section-3.jpg" alt="" class="img-responsive">
                  </div>
            </div>
        </div>
    </div>

</template>