<template name="about">
    {{> pageHeader img='/about-bg.jpg' title='About Me'}}

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde beatae quisquam debitis exercitationem sunt explicabo eius cupiditate quaerat dolores nulla optio dolor laborum, ea ex aliquam minus vitae, fuga architecto.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro quod consequuntur assumenda earum praesentium recusandae aliquid necessitatibus repudiandae numquam, error dolorem animi minus, rem magni aut! Maxime voluptates, laborum iste eligendi aliquid quisquam distinctio voluptatibus architecto quod consectetur, laudantium nihil accusantium. Delectus, atque, doloremque. Voluptates, commodi. Quasi iste minus ex.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla perferendis nemo facilis repudiandae rerum molestias quasi officia nesciunt tenetur dolorum voluptates molestiae quisquam sunt cupiditate minus numquam ut ipsam, voluptatum iusto rem laudantium laborum, est eum. Quam, eligendi, iure! Nihil?</p>
            </div>
        </div>
    </div>
</template>